<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="duke" class="com.spring.qualifiers.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
    <!--上面的装配执行的逻辑本质与下面的Java代码相同
    Poem sonnet29 = new Sonnet29();
    Performer duck = new PoeticJuggler(15,sonnet29);
    -->
    <bean id="sonnet29" class="com.spring.qualifiers.Sonnet29"/>

    <!--通过工厂方法创建Bean-->
    <bean id="theStage" class="com.spring.qualifiers.Stage" factory-method="getInstance"/>

    <!--注入Bean属性-->
    <bean id="kenny" class="com.spring.qualifiers.Instrumentalist">
        <!--property元素会指示Spring调用setSong()方法设置song属性-->
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="saxophone"/>
    </bean>

    <bean id="saxophone" class="com.spring.qualifiers.Saxophone"/>

    <!--装配list，Set，Array-->
    <bean id="hank" class="com.spring.qualifiers.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="guitar" />
                <ref bean="cymbal" />
                <ref bean="harmonica" />
            </list>
        </property>
    </bean>

    <bean id="guitar" class="com.spring.qualifiers.instruments.Guitar"/>
    <bean id="cymbal" class="com.spring.qualifiers.instruments.Cymbal"/>
    <bean id="harmonica" class="com.spring.qualifiers.instruments.Harmonica"/>

</beans>